h1 {
    color: red;
    text-decoration: underline;
}

.tit-azul {
    color: blue;
    position: relative;
    animation: entrada-esquerda 2s;
}

#titulo-unico {
    color: green;
}

.lista {
    font-size: 30px;
    border: 2px solid black;    
}

.lista > div {
    border: 2px solid black;    
    margin: 2px;;
}

.lista div:hover {
    transition: 1s;
    background-color: purple;
}

@keyframes entrada-esquerda {
    from {
        left: -200px;
    }

    to {
        left: 0;
    }
}